# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Claude Code
.claude/settings.local.json
memory/
